.views-table {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.views-table td,
.views-table th {
  word-wrap: break-word;
}

.islandora-batch-view-table td.views-field-actions {
  vertical-align: top;
}
