.islandora-batch-view-table td.views-field-contextual-links .contextual-links-wrapper {
  width: 34px;
  position: relative;
}

.islandora-batch-view-table td.views-field-actions .ctools-dropbutton-wrapper {
  position: relative;
  width: 100%;
  display: block;
}

.islandora-batch-view-table td.views-field-actions {
  width: 135px;
  vertical-align: top
}
